body {
	font-family: 'Chakra Petch', sans-serif;
	font-size: 17px;
}

body, ul {
	margin: 0;
	padding: 0;
}

/*navigation*/
nav {
	background-color: pink;
	position: fixed;
	z-index: 1;
	width: 100%;
	font-size: 13px;
}

nav ul li {
	display: inline-block;
	margin: 0 12px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav ul {
	margin: 0 auto;
	text-align: center;
	padding: 15px;
}

header {
	top: 70px;
	position: relative;
	margin-bottom: 90px;
}

h1 {
	font-size: 60px;
	line-height: 130%;
}

ul li {
	list-style: none;
	margin: 10px 0px;
}

h1, h2, .skills-list {
	font-family: 'Chakra Petch', sans-serif;
	font-style: italic;
	font-weight: bold;
}

img {
	max-width: 100%;
}

footer {
	text-align: center;
}

.button{
	border: 1px solid black;
	text-decoration: none;
	color: hotpink;
	padding: 8px 15px;
	display: inline-block;
	border-radius: 15px;
}

figcaption {
	font-size: 10px;
	text-align: right;
}